# Managed by CFEngine
################################################################################
# iptables-restore format
# *<table>
# :<chain> <policy> [<packets_count>:<bytes_count>]
# <optional_counter><rule>
# ... more rules ...
# COMMIT
################################################################################

*filter
:INPUT DROP
:FORWARD ACCEPT
:OUTPUT ACCEPT

# Allow ALL connetions to loopback
--append INPUT --in-interface lo --jump ACCEPT

# Allow established and related connetions
--append INPUT --match state --state ESTABLISHED,RELATED --jump ACCEPT

# Allow all ssh connections
--append INPUT --protocol tcp --destination-port 22 --jump ACCEPT

# Allow connections to cf-serverd based on the common ACL list of hosts/subnets
{{#vars.def.acl}}
--append INPUT --source {{{.}}} --protocol tcp --destination-port 5308 --jump ACCEPT
{{/vars.def.acl}}

{{#classes.am_policy_hub}}
# Backend webservers listen on tcp port 8080 for requests from the load balanceer
--append INPUT --protocol tcp --destination-port 443 --jump ACCEPT
--append INPUT --protocol tcp --destination-port 80 --jump ACCEPT
{{/classes.am_policy_hub}}

{{#classes.backend_webservers}}
# Backend webservers listen on tcp port {{{vars.def.backend_webserver.port}}} for requests from the load balanceer
--append INPUT --protocol tcp --destination-port {{{vars.def.backend_webserver.port}}} --jump ACCEPT
{{/classes.backend_webservers}}

{{#classes.load_balancers}}
--append INPUT --protocol tcp --destination-port {{{vars.def.load_balancer.frontend_main_port}}} --jump ACCEPT
--append INPUT --protocol tcp --destination-port {{{vars.def.load_balancer.stats_port}}} --jump ACCEPT
{{/classes.load_balancers}}

COMMIT
